{% extends 'main.html'%}
{% block content %}

  <main class="profile-page layout layout--3">
    <div class="container">
      <!-- Topics Start -->
      {%include 'base/topics_component.html'%}
      <!-- Topics End -->

      <!-- Room List Start -->
      <div class="roomList">
        <div class="profile">
          <div class="profile__avatar">
            <div class="avatar avatar--large active">
              <img src="{{profile.profile_picture.url}}" alt = "{{profile.profile_picture}}"/>
            </div>
          </div>
          <div class="profile__info">
            <h3>{{user.username}}</h3>
            <p>@{{user.username}}</p>
            {%if requested == user %}
            <a href="edit-user.html" class="btn btn--main btn--pill">Edit Profile</a>
            {% endif %}
            <a href="edit-user.html" class="btn btn--main btn--msg">Send Message</a>
            {% if requested != user %}
            <form method = 'POST' action= ''>
              {% csrf_token %}
              {% if unique %}  
              <input type="hidden" name="_method" value="DELETE">
                <button class="btn btn--main btn--msg" type="submit">unFollow</button>
              {%else%}
              <input type="hidden" name="_method" value="POST">
                <button class="btn btn--main btn--msg" type="submit">Follow</button>
              {%endif%}
            </form>
            {% endif %}
            {% comment %} <a href="edit-user.html" class="btn btn--main btn--msg">Follow {{user.username}}</a> {% endcomment %}
          </div>
          <div class="profile__about">
            <h3>About</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur illo tenetur
              facilis sunt nemo debitis quisquam hic atque aut? Ducimus alias placeat optio
              accusamus repudiandae quis ab ex exercitationem rem?
            </p>
          </div>
        </div>

        <div class="roomList__header">
          <div>
            <h2>Rooms Hosted by {{user}}
            </h2>
          </div>
        </div>
        {% include 'base/feed_component.html' %}

      </div>
      <!-- Room List End -->

      <!-- Activities Start -->
      {% include 'base/activity_component.html' %}
      <!-- Activities End -->
    </div>
    
  </main>
{%endblock content%}