<!DOCTYPE html>
<html lang="en">
{% extends 'main.html'%}
{% block content%}
<head>
    <meta charset="UTF-8">
    <title>room</title>
</head>
<body>
<style>
    .room-container{
    display: grid;
    grid-template-columns : 3fr 1fr;
    }
</style>
<div class="room-container">

    <div>
    <h1>
        {{room.name}}
    </h1>
    <p>description: {{room.description}}</p>
    <hr>
    <div class="comment-wrapper">
    <h3>conversations</h3>
    {% for comment in comments %}
        <div>{% if request.user == comment.user %}
                <a href="{% url 'deleteCommenturl' comment.id %}">delete</a>
             {% endif %}
        <small>@{{comment.user}}  -  {{comment.created|timesince}} ago</small>
        <hr>
        <p>{{comment}}</p>
        </div>
    {% endfor %}
    </div>
    </div>


    <div>
     <h3>particapants</h3>
        <hr>
        {% for participante in participants %}
        <div><h3>@{{participante}}</h3></div>
        {% endfor %}
    </div>

</div>

{% if request.user.is_authenticated %}
<div class="comment-form">
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="body" placeholder="write your comment"/>
    </form>
</div>
{% else %}
<a href="{% url 'loginurl' %}">login to join the conversation</a>
{% endif %}</div>
</body>
{% endblock content%}
</html>